@import "/src/shared/style.scss";

.cpgl-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: $border-radius;
  box-sizing: border-box;
  .indicateur {
    display: flex;
    align-items: center;
    background-color: $primary-grey-light;
    border-radius: $border-radius;
    img {
      padding: 30px 10px 30px 20px;
    }
    .text-value {
      font-size: 20px;
      font-weight: 700;
    }
    .text-unit {
      font-size: 14px;
      font-weight: 500;
      color: $primary-grey-medium;
    }
  }
}
