@import "../../shared/style.scss";

.nav-top {
  grid-area: hd;
  background-color: #000;
  display: flex;
  .menu {
    justify-content: space-around;
    display: flex;
    width: 100%;
    font-size: 24px;
    font-weight: 500;
  }
  a {
    text-decoration: none;
    color: white;
  }
}
.nav-left {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-direction: column;
  grid-area: sd;
  background-color: #000;
  .picto-link {
    width: 64px;
    height: 64px;
    background-color: #fff;
    border-radius: $border-radius;
  }
  .copyright {
    position: absolute;
    transform: rotate(-90deg);
    color: white;
    bottom: 100px;
    font-size: 12px;
    font-weight: 500;
    width: 150px;
  }
}
