@import "../../../shared/style.scss";

.activity-graph {
  position: relative;
  // display: flex;
  height: 100%;
  padding: 1em;

  justify-content: center;
  border-radius: $border-radius;
  box-sizing: border-box;
  .activity-graph-title {
    position: absolute;
    top: 0;
    font-size: 15px;
    font-weight: 500;
    color: $primary-grey-anthracite;
  }
  .activity-graph-tooltip {
    background-color: $tooltip-red;
    color: white;
    font-weight: 500;
    font-size: 7px;
    line-height: 24px;
    // height: 45px;
    width: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 7px;
  }
  .activity-x,
  .activity-y {
    font-weight: 500;
    font-size: 14px;
  }
  .activity-legend {
    color: $primary-grey-medium;
    font-size: 14px;
    font-weight: 500;
  }
}
