@import "../../shared/style.scss";

.container {
  min-width: $min-screen-width;
  min-height: $min-screen-height;
  max-width: $max-screen-width;
  max-height: $max-screen-height;
  margin: 0 auto;
}
