@import "/src/shared/style.scss";

.dashboard-wrapper {
  display: grid;
  // width: calc(100% - 4em);
  // height: calc(100% - 2em);
  width: 100%;
  height: 100%;
  background-color: white;
  grid-template-columns: 26% 26% 26% 22%;
  grid-template-rows: 16% 42% 42%;
  // grid-gap: 2em;
  grid-template-areas:
    "header header header header"
    "activite activite activite cplg"
    "duree radar score cplg";
  .zone-header {
    margin: 0 0 0 1em;
    grid-area: header;
    border-radius: $border-radius;
  }
  .zone-activite {
    margin: 1em;
    grid-area: activite;
    background-color: $primary-grey-light;
    border-radius: $border-radius;
  }
  .zone-duree {
    margin: 1em;
    grid-area: duree;
    background-color: $primary-grey-light;
    border-radius: $border-radius;
  }
  .zone-radar {
    margin: 1em;
    grid-area: radar;
    background-color: $primary-grey-light;
    border-radius: $border-radius;
  }
  .zone-kpi {
    margin: 1em;
    grid-area: score;
    background-color: $primary-grey-light;
    border-radius: $border-radius;
  }
  .zone-cglp {
    margin: 1em 0 1em 1em;
    grid-area: cplg;
    border-radius: $border-radius;
    background-color: white;
  }
}
