@import "../../shared/style.scss";

.app-grid {
    position: relative;
    display: grid;
    height:100vh;
    max-height: $max-screen-height;
    min-height: $min-screen-height;
    grid-template-columns: $width-menu 1fr;
    grid-template-rows: $width-menu max-content;
    grid-template-areas:
      "hd hd "
      "sd main"
      "sd main";
  .logo {
    width: 178px;
    margin-left: 28px;
    margin-top: 0;
  }
}

.main {
  position: relative;
  padding: 1em 0 0 1em;
  grid-area: main;
  background-color: white;
}
