@import "../../shared/style.scss";

.page-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary-red;
  .error-code {
    font-weight: 700;
    font-size: 288px;
  }
  .error-detail {
    padding-bottom: 3em;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
  }
  .error-action {
    text-decoration: none;
    color: $primary-red;
  }
}
